@font-face {
  font-family: "Amatic";
  src: url("../assets/AmaticSC-Regular.ttf");
}

body {
  background-color: rgb(123, 135, 149);
  font-family: "Amatic";
  color: white;
  font-size: 16pt;
}

a {
  color: unset;
  text-decoration: unset;
}

header {
  text-align: center;
}

h1 {
  font-size: 34pt;
  margin-top: 0;
  margin-bottom: 16px;
}

p {
  font-family: "Avenir Next", "Gill Sans", "Gill Sans MT", Calibri,
    "Trebuchet MS", sans-serif;
  margin: 0;
}

#app {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px;
}
.nav-right {
  margin-right: 32px;
}
.logo {
  max-height: 128px;
}
.hero-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.hero {
  font-family: cursive;
  height: 196px;
  width: 384px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  margin-top: 25px;
  background-image: url("../assets/hero-border.svg");
  background-repeat: no-repeat;
  background-size: contain;

  transition: all 1s ease-in;
}

.hero.active {
  opacity: 1;
  margin-top: 0;

  transition: all 1s ease-out;
}

.hero-clickable {
  width: calc(384px - 64px);
  height: calc(196px - 64px);
  background-color: rgba(0.25, 0.25, 0.25, 0.25);
  border: 4px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 48px;
  padding-top: 76px;
}

.hero-clickable img {
  width: 100%;
}
